Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build: delete `dist` directory before compile
  nest-cli.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.3 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  d771a78e60d101fc5d70fea238f2e77f3fd1fbfa
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.4 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  4de131509822091e94ba164237a00c288150bc6c
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.5 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  8f0e12491d03af79427fb476cc27d88d58ff7375
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.6 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  497d4097d2fa1197d1eece6838b98c37b5e0e10f
Due: cspell lint --no-summary --no-progress --no-must-find-files

ci(github): customize Codespace\n\nRun PostgreSQL
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore: add more words to the dictionary
  .cspell.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(auth): increase test timeout in order to pass during CI
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

ci(codespace): remove comments
  .devcontainer/devcontainer.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.7 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  e64041a8fd4f4bf8ce6f0cd601a7a41309783bf6
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(auth): amend eslint error
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.8 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  98a27c5ffbe1bfeaaf65cf8e00fd697ef86b729e
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: set `forbidUnknownValues` to false
  src/config/configuration.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): change suite name
  src/blog/blog.module.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.9 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  dcfd6b27635f8a88a5adf3204716079fb01491b5
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.10 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  98b700177ab22f3fe70424f6e4ede590cee5a6a3
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.11 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  210362531ba6c952c7bcebff3bd4c8589b9ab30a
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.12 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  1ca2f61fc1d4b67054111767ef226f1887cc867f
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.13 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  a4f4963e6b5b64cb9416feda937c643b9c363cf0
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor: use dependency injection to validate if a password is vulnerable
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.spec.ts
  src/auth/auth.module.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/providers/__fixtures__/is-insecure.json
  src/auth/providers/__fixtures__/is-secure.json
  src/auth/providers/pwned-password.provider.spec.ts
  src/auth/providers/pwned-password.provider.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/validators/is-not-vulnerable.validator.spec.ts
  src/auth/validators/is-not-vulnerable.validator.ts
  src/common/build-test-application.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.14 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  a88971964c49a8ec00154c466b1c6aa422646ce3
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.15 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  b11dba59e970f33d6950cf9c1a7f338197bce3bb
Due: cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  eslint --fix: any of: *.{js,ts}
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
