Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,toml}": ["prettier --write"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

Notes added by 'git notes add'
  fad4fb560bade47540de3a9d2d8515f2551cb2b0
Due: cspell lint --no-summary --no-progress --no-must-find-files

build(typeorm): install typeorm-extension
  .cspell.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(auth): add seeder and factory for user
  src/auth/factories/user.factory.ts
  src/auth/seeders/user.seeder.ts
  src/data-source.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(blog): add seeder and factory for article and comment
  src/blog/entities/article.entity.ts
  src/blog/entities/comment.entity.ts
  src/blog/factories/article.factory.ts
  src/blog/factories/comment.factory.ts
  src/blog/seeders/article.seeder.ts
  src/blog/seeders/comment.seeder.ts
  src/data-source.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: uninstall typeorm-fixtures-cli
  package.json
  pnpm-lock.yaml
  src/common/test-helpers.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test: run seeders in the integration tests
  src/auth/auth.module.spec.ts
  src/blog/blog.module.spec.ts
  src/common/test-helpers.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

ci(github): change the way of populating the DB
  .github/workflows/ci.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore: remove ormconfig.js
  ormconfig.js
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(typescript): use a strictest config
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore: remove fixtures
  fixtures/article.yml
  fixtures/comment.yml
  fixtures/user.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

test: split test helpers
  src/auth/auth.module.spec.ts
  src/auth/controllers/auth.controller.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/factories/user.factory.ts
  src/auth/fixtures/user.fixture.ts
  src/auth/pipes/strip-id.pipe.spec.ts
  src/auth/pipes/swap-password.pipe.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/validators/is-not-vulnerable.validator.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/blog/blog.module.spec.ts
  src/common/build-test-application.ts
  src/common/database.ts
  src/common/fixtures/credentials.ts
  src/common/fixtures/password-hashes.ts
  src/common/test-matchers.ts
  test/auth.e2e-spec.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): refactor factories
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.spec.ts
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/factories/login-user.factory.ts
  src/auth/factories/register-user.factory.ts
  src/auth/factories/update-user.factory.ts
  src/auth/fixtures/auth.fixture.ts
  src/auth/fixtures/user.fixture.ts
  test/auth.e2e-spec.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): refactor factories
  src/blog/blog.module.spec.ts
  src/blog/factories/create-article.factory.ts
  src/blog/factories/create-comment.factory.ts
  src/blog/factories/update-article.factory.ts
  src/blog/fixtures/article.fixture.ts
  src/blog/fixtures/comment.fixture.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: remove fluse dependency
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/common/fluse-plugin-faker.ts
  src/common/fluse-plugin-txtgen.ts
  src/common/fluse-plugin-typeorm.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore: split database config
  src/common/build-test-application.ts
  src/data-source.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(auth): move fixtures to auth module
  src/auth/auth.module.spec.ts
  src/auth/controllers/auth.controller.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/factories/user.factory.ts
  src/auth/fixtures/credentials.ts
  src/auth/fixtures/password-hashes.ts
  src/auth/pipes/strip-id.pipe.spec.ts
  src/auth/pipes/swap-password.pipe.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/validators/is-not-vulnerable.validator.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/common/fixtures/credentials.ts
  test/auth.e2e-spec.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): reuse fixture across tests
  src/auth/controllers/auth.controller.spec.ts
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/fixtures/users.ts
  src/auth/interceptors/current-user.interceptor.spec.ts
  src/auth/interceptors/token.interceptor.spec.ts
  src/auth/pipes/strip-id.pipe.spec.ts
  src/auth/seeders/user.seeder.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/validators/is-already-register.validator.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): reuse fixture across tests
  src/blog/blog.module.spec.ts
  src/blog/fixtures/articles.ts
  src/blog/fixtures/comments.ts
  src/blog/guards/is-author.guard.spec.ts
  src/blog/interceptors/set-article.interceptor.spec.ts
  src/blog/interceptors/set-author.interceptor.spec.ts
  src/blog/pipes/article.pipe.spec.ts
  src/blog/seeders/article.seeder.ts
  src/blog/seeders/comment.seeder.ts
  src/blog/services/article.service.spec.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.5.1 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files
