Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml}": ["prettier --write"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat(blog): update one article
  package.json
  pnpm-lock.yaml
  src/blog/controllers/article.controller.ts
  src/blog/dto/update-article.dto.ts
  src/blog/entities/article.entity.ts
  src/blog/guards/is-author.guard.ts
  src/blog/pipes/article.pipe.ts
  src/blog/services/article.service.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): update one article
  src/blog/blog.module.spec.ts
  src/blog/controllers/article.controller.spec.ts
  src/blog/dto/update-article.dto.spec.ts
  src/blog/fixtures/article.fixture.ts
  src/blog/guards/is-author.guard.spec.ts
  src/blog/services/article.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): assert that can update one article
  test/blog/article.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor(blog): use tiny-invariant to guard types
  package.json
  pnpm-lock.yaml
  src/blog/guards/is-author.guard.ts
  src/blog/interceptors/set-author.interceptor.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(blog): remove one article
  src/blog/controllers/article.controller.ts
  src/blog/services/article.service.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): remove one article
  src/blog/blog.module.spec.ts
  src/blog/controllers/article.controller.spec.ts
  src/blog/services/article.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): assert that can remove one article
  test/blog/article.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(blog): create a new article
  src/blog/blog.module.ts
  src/blog/controllers/comment.controller.ts
  src/blog/dto/create-comment.ts
  src/blog/entities/comment.entity.ts
  src/blog/interceptors/set-article.interceptor.ts
  src/blog/services/article.service.ts
  src/blog/services/comment.service.ts
  src/blog/validators/article-exist.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): create a new article
  src/blog/blog.module.spec.ts
  src/blog/controllers/comment.controller.spec.ts
  src/blog/dto/create-comment.spec.ts
  src/blog/fixtures/comment.fixture.ts
  src/blog/interceptors/set-article.interceptor.spec.ts
  src/blog/services/article.service.spec.ts
  src/blog/services/comment.service.spec.ts
  src/blog/validators/article-exist.validator.spec.ts
  src/blog/validators/article-exist.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): assert that can create one comment
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test: refactor tests
  src/auth/auth.module.spec.ts
  src/auth/controllers/auth.controller.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/fixtures/user.fixture.ts
  src/auth/interceptors/current-user.interceptor.spec.ts
  src/auth/pipes/strip-id.pipe.spec.ts
  src/auth/pipes/swap-password.pipe.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/blog/guards/is-author.guard.spec.ts
  src/blog/interceptors/set-article.interceptor.spec.ts
  src/blog/interceptors/set-author.interceptor.spec.ts
  src/common/test-helpers.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(blog): list and paginate comments
  src/blog/controllers/comment.controller.ts
  src/blog/services/comment.service.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(blog): amend pagination of comments
  src/blog/controllers/comment.controller.ts
  src/blog/entities/comment.entity.ts
  src/blog/services/comment.service.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): list and paginate comments
  fixtures/comment.yml
  src/blog/blog.module.spec.ts
  src/blog/controllers/comment.controller.spec.ts
  src/blog/services/comment.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): assert that can list and paginate comments
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): assert that can remove a comment
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(blog): remove one comment
  src/blog/constants/entity.enum.ts
  src/blog/controllers/article.controller.ts
  src/blog/controllers/comment.controller.ts
  src/blog/decorators/is-entity.decorator.ts
  src/blog/guards/is-author.guard.ts
  src/blog/services/comment.service.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): remove one comment
  fixtures/comment.yml
  src/blog/blog.module.spec.ts
  src/blog/controllers/comment.controller.spec.ts
  src/blog/guards/is-author.guard.spec.ts
  src/blog/services/comment.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: upgrade devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.1.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  662ad5381d3d52ff3756a9c6f6451ad71aad35a6
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(auth): normalize email
  package.json
  pnpm-lock.yaml
  src/auth/decorators/normalize-email.decorator.ts
  src/auth/dto/register-user.dto.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): normalize email
  src/auth/decorators/normalize-email.decorator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor(auth): create a decorator to trim the value
  src/auth/dto/login-user.dto.ts
  src/auth/dto/register-user.dto.ts
  src/common/decorators/trim.decorator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.2.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  1960f19ac38242ed4165229510cd601cafc05b91
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(auth): validate that the password is not exposed in haveibeenpwned.com
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/auth/dto/register-user.dto.ts
  src/auth/dto/update-user.dto.ts
  src/auth/validators/is-not-vulnerable.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): password is not vulnerable
  package.json
  pnpm-lock.yaml
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/fixtures/user.fixture.ts
  src/auth/validators/__fixtures__/is-insecure.json
  src/auth/validators/__fixtures__/is-secure.json
  src/auth/validators/is-not-vulnerable.validator.spec.ts
  src/common/test-helpers.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: add haveibeenpwned to the dictionary
  .cspell.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.3.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  886b6fd11a2def7f0835a172814c7c08ef17ed2b
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(dev-deps): upgrade dependencies
  package.json
  pnpm-lock.yaml
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: sort package.json based on the well-known keys
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

build: install eslint-plugin-deprecation
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files
