Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

style: amend lint error
  .github/workflows/ci.yml
Due: prettier --write

style: replace jhon with john
  src/auth/controllers/auth.controller.spec.ts
  src/auth/interceptors/token.interceptor.spec.ts
  src/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint --fix

build(eslint): ignore report dir
  .eslintrc.js
Due: prettier --write, eslint --fix

ci(github): remove double dashes
  .github/workflows/ci.yml
Due: prettier --write

style: amend the amount of left-padding spaces
  .husky/commit-msg
Due: none

build: setup cspell as a git hook
  .cspell.json
  .husky/commit-msg
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: ignore spelling of a word
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix

ci(github): validate all of the source code
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Due: prettier --write

docs: add LICENSE
  LICENSE
  README.md
Due: prettier --write

ci(github): run megalinter
  .cspell.json
  .github/workflows/mega-linter.yml
  .gitignore
  .jscpd.json
  .mega-linter.yml
Due: prettier --write

build: add .yamllint.yaml
  .yamllint.yaml
Due: none

chore: add .prettierignore
  .prettierignore
Due: none

style: amend bash block
  README.md
Due: prettier --write

style: format with prettier
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix

ci(github): install dependencies before running MegaLinter
  .github/workflows/mega-linter.yml
Due: prettier --write

ci(github): use javascript flavor for MegaLinter
  .github/workflows/mega-linter.yml
Due: prettier --write

ci(github): lint shell scripts
  .mega-linter.yml
Due: prettier --write

ci(github): remove lint job
  .github/workflows/ci.yml
Due: prettier --write

ci: analize code quality and security
  .github/workflows/codeql-analysis.yml
Due: prettier --write

style: format with prettier
  .cspell.json
  .github/workflows/codeql-analysis.yml
Due: prettier --write

test(blog): assert that can create a new article
  test/blog/article.e2e-spec.ts
Due: prettier --write, eslint --fix

build: upgrade pnpm to v7
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: prettier --write

feat(blog): get one article by id or slug
  src/blog/controllers/article.controller.ts
  src/blog/entities/article.entity.ts
  src/blog/pipes/article.pipe.ts
  src/blog/services/article.service.ts
Due: prettier --write, eslint --fix

test(blog): get one article by id or slug
  fixtures/article.yml
  src/blog/blog.module.spec.ts
  src/blog/controllers/article.controller.spec.ts
  src/blog/fixtures/article.fixture.ts
  src/blog/pipes/article.pipe.spec.ts
  src/blog/services/article.service.spec.ts
Due: prettier --write, eslint --fix

test(blog): assert that can request one article by id or slug
  test/blog/article.e2e-spec.ts
Due: prettier --write, eslint --fix

test(blog): list and paginate articles
  fixtures/article.yml
  package.json
  pnpm-lock.yaml
  src/blog/blog.module.spec.ts
  src/blog/controllers/article.controller.spec.ts
  src/blog/services/article.service.spec.ts
Due: prettier --write, eslint --fix

feat(blog): list and paginate articles
  package.json
  pnpm-lock.yaml
  src/blog/controllers/article.controller.ts
  src/blog/services/article.service.ts
  src/common/dto/paginate.dto.ts
Due: prettier --write, eslint --fix

test(blog): assert that can list and paginate articles
  test/blog/article.e2e-spec.ts
Due: prettier --write, eslint --fix

chore: add more words
  .cspell.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  eslint --fix: any of: *.{js,ts}
