Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(auth): update current user data
  src/auth/controllers/auth.controller.ts
  src/auth/dto/update-user.dto.ts
  src/auth/entities/user.entity.ts
  src/auth/interceptors/current-user.interceptor.ts
  src/auth/pipes/strip-id.pipe.ts
  src/auth/services/authentication.service.ts
  src/auth/validators/is-already-register.validator.ts
  src/auth/validators/validate-credential.validator.ts
Due: prettier --write, eslint --fix

ci(github): run E2E tests
  .github/workflows/ci.yml
Due: prettier --write

ci(github): remove warnings
  .github/workflows/ci.yml
  src/common/test-helpers.ts
Due: prettier --write, eslint --fix

test(auth): check when it's already registered
  src/auth/dto/register-user.dto.spec.ts
  src/auth/validators/is-already-register.validator.spec.ts
Due: prettier --write, eslint --fix

feat(auth): get current user from JWT
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.ts
  src/auth/controllers/auth.controller.ts
  src/auth/decorators/auth.decorator.ts
  src/auth/guards/jwt-auth.guard.ts
  src/auth/interfaces/jwt-payload.interface.ts
  src/auth/services/authentication.service.ts
  src/auth/strategies/jwt.strategy.ts
Due: prettier --write, eslint --fix

fix(auth): avoid to override the password
  src/auth/auth.module.spec.ts
  src/auth/controllers/auth.controller.ts
  src/auth/entities/user.entity.ts
  src/auth/pipes/remove-password.pipe.spec.ts
  src/auth/pipes/remove-password.pipe.ts
Due: prettier --write, eslint --fix

refactor(auth): change password with new password
  src/auth/controllers/auth.controller.ts
  src/auth/pipes/remove-password.pipe.ts
  src/auth/pipes/swap-password.pipe.spec.ts
  src/auth/pipes/swap-password.pipe.ts
  src/auth/services/authentication.service.ts
Due: prettier --write, eslint --fix

test(auth): use fixtures with fast-check
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/register-user.dto.spec.ts
Due: prettier --write, eslint --fix

feat(auth): add login DTO with validation
  src/auth/dto/login-user.dto.ts
Due: prettier --write, eslint --fix

test(auth): check login with an user
  src/auth/auth.module.spec.ts
  src/auth/controllers/auth.controller.spec.ts
  src/auth/fixtures/user.fixture.ts
  src/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint --fix

build: load dotenv with jest
  jest.config.ts
Due: prettier --write, eslint --fix

feat(auth): add interceptor to add JWT in the response
  .env.example
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.ts
  src/auth/controllers/auth.controller.ts
  src/auth/interceptors/token.interceptor.ts
  src/main.ts
Due: prettier --write, eslint --fix

test(auth): check user credentials
  src/auth/dto/__snapshots__/login-user.dto.spec.ts.snap
  src/auth/dto/login-user.dto.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix

test(e2e): write E2E with pactum
  jest.config.ts
  package.json
  pnpm-lock.yaml
  test/app.e2e-spec.ts
  test/auth.e2e-spec.ts
  test/global-setup.ts
  test/global-teardown.ts
Due: prettier --write, eslint --fix

feat(auth): register a new user
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.ts
  src/auth/controllers/auth.controller.ts
  src/auth/entities/user.entity.ts
  src/auth/services/authentication.service.ts
Due: prettier --write, eslint --fix

feat(auth): login with an existing user
  src/auth/controllers/auth.controller.ts
  src/auth/services/authentication.service.ts
Due: prettier --write, eslint --fix

feat(auth): add user entity
  src/auth/auth.module.ts
  src/auth/entities/user.entity.ts
  src/migrations/1637703183543-create-user.ts
Due: prettier --write, eslint --fix

build: run TypeORM fixtures
  fixtures/user.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(auth): validate user credentials
  src/auth/auth.module.ts
  src/auth/dto/login-user.dto.ts
  src/auth/entities/user.entity.ts
  src/auth/validators/validate-credential.validator.ts
Due: prettier --write, eslint --fix

feat(auth): add register DTO with validation
  package.json
  pnpm-lock.yaml
  src/auth/dto/register-user.dto.ts
Due: prettier --write, eslint --fix

build(release): setup semantic release
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(github): run semantic release
  .github/workflows/release.yml
Due: prettier --write

ci(github): fix release workflow
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: disable commitlint on CI
  .husky/commit-msg
Due: none

ci(github): set CI
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

chore: amend script error
  .husky/commit-msg
Due: none

chore(release): 1.0.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  feb166347e3275f8ee4ad6c5728aeb95d1e98b20
Due: none

feat(blog): add blog module
  src/app.module.ts
  src/blog/blog.module.ts
  src/blog/entities/article.entity.ts
  src/blog/entities/comment.entity.ts
  src/migrations/1651517018946-create-article-comment.ts
Due: prettier --write, eslint --fix

test(blog): create a new article
  src/blog/blog.module.spec.ts
  src/blog/controllers/article.controller.spec.ts
  src/blog/dto/create-article.dto.spec.ts
  src/blog/fixtures/article.fixture.ts
  src/blog/interceptors/set-author.interceptor.spec.ts
  src/blog/services/article.service.spec.ts
  src/common/fluse-plugin-txtgen.ts
Due: prettier --write, eslint --fix

feat(blog): create a new article
  package.json
  pnpm-lock.yaml
  src/blog/blog.module.ts
  src/blog/controllers/article.controller.ts
  src/blog/dto/create-article.dto.ts
  src/blog/entities/article.entity.ts
  src/blog/interceptors/set-author.interceptor.ts
  src/blog/services/article.service.ts
Due: prettier --write, eslint --fix

ci(github): run megalinter
  .cspell.json
  .github/workflows/mega-linter.yml
  .gitignore
  .jscpd.json
  .mega-linter.yml
Due: prettier --write

ci(github): install dependencies before running MegaLinter
  .github/workflows/mega-linter.yml
Due: prettier --write

chore: add .prettierignore
  .prettierignore
Due: none

build: add .yamllint.yaml
  .yamllint.yaml
Due: none

style: amend bash block
  README.md
Due: prettier --write

style: format with prettier
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  eslint --fix: any of: *.{js,ts}
