Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  7b6a7e3ff7c0e9b69556a6d8cd77d394cab541c5
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: setup config module
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/config/configuration.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: config typeorm in a single file
  package.json
  src/app.module.ts
  src/common/build-test-application.ts
  src/config/data-source.ts
  src/data-source.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: config validation pipe
  src/common/build-test-application.ts
  src/config/configuration.ts
  src/main.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: config auth module
  src/auth/auth.module.ts
  src/auth/config/auth.ts
  src/auth/controllers/auth.controller.spec.ts
  src/auth/interceptors/token.interceptor.spec.ts
  src/auth/interceptors/token.interceptor.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(auth): use constants to name the token's cookie
  src/auth/auth.module.spec.ts
  src/auth/constants/index.ts
  src/auth/guards/jwt-auth.guard.ts
  src/auth/interceptors/token.interceptor.spec.ts
  src/auth/interceptors/token.interceptor.ts
  src/auth/strategies/jwt.strategy.ts
  test/auth.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.6.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  2f0976c853fc967770b392a70eed37ccc2b1813b
Due: cspell lint --no-summary --no-progress --no-must-find-files

build(dev-deps): update jest
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/auth/dto/__snapshots__/login-user.dto.spec.ts.snap
  src/auth/dto/__snapshots__/register-user.dto.spec.ts.snap
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build(deps): update cached-lookup from 4.0.3 to 5.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build(dev-deps): update eslint-plugin-simple-import-sort from 7.0.0 to 8.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

style: sort imports
  src/auth/validators/is-not-vulnerable.validator.spec.ts
  src/blog/entities/article.entity.ts
  src/common/database.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(dev-deps): update development dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(health): install terminus module
  package.json
  pnpm-lock.yaml
  src/app.module.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(health): add health controller
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/health.controller.spec.ts
  src/health.controller.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(health): check the health of the app
  test/app.e2e-spec.ts
  test/health.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  b65462ac76480721fa075360e820c80fece2df59
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(auth): if the email and username exists
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/services/authentication.service.ts
  src/auth/validators/is-already-register.validator.spec.ts
  src/auth/validators/is-already-register.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

perf(auth): improve check whether the user is registered
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/services/authentication.service.ts
  src/auth/validators/is-already-register.validator.spec.ts
  src/auth/validators/is-already-register.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor(auth): verify the credentials
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/services/authentication.service.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/auth/validators/validate-credential.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(auth): amend custom validators
  .pactum/snapshots/login-errors.json
  src/auth/dto/__snapshots__/login-user.dto.spec.ts.snap
  src/auth/validators/is-already-register.validator.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/auth/validators/validate-credential.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): amend property-test constraints
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  eslint --fix: any of: *.{js,ts}
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
