Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix, sort-package-json

build: fix issues within jest.config.ts
  jest.config.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

build: fix issues within eslint.config.mjs
  eslint.config.mjs
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.12 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  37b51f0e968fb766494f92c78539aefb439ef0d5
Due: cspell lint --no-summary --no-progress --no-must-find-files

ci: update MegaLinter workflow
  .github/workflows/ci.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

ci: remove GitPod support
  .gitpod.Dockerfile
  .gitpod.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

chore: add words to the cspell's dictionary
  .cspell.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Revert "ci: update MegaLinter workflow"
  .github/workflows/ci.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

ci: update MegaLinter workflow
  .github/workflows/mega-linter.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

fix: update snapshots
  .pactum/snapshots/login-errors.json
  .pactum/snapshots/register-errors.json
  src/auth/validators/validate-credential.validator.spec.ts
  src/blog/blog.module.spec.ts
  test/blog/comment.end2end.spec.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

chore(release): 1.8.13 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  0fc7981cdb07906a64d5323f4823239c8e681ba4
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.14 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  831854b2abb2f027435a2eb3963486ce0b3896fb
Due: cspell lint --no-summary --no-progress --no-must-find-files

test: update snapshots
  .pactum/snapshots/login-errors.json
  .pactum/snapshots/register-errors.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

chore(release): 1.8.15 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  8606bcf239f330517f8090d57d04278757709b2f
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.16 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  d695ba44f5703d134ce756c88a11e47f3e8ac4db
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.17 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  d0d388d3ed78c1adb4cef7dc787e138c846e4a90
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.18 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  0e07276217e77e3a8cde2ccd2513e6d06679de2a
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: release under AGPL v3 license
  LICENSE
  package.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, sort-package-json

build: update pnpm to v11
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, sort-package-json

build: update Typescript
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, sort-package-json

build: update Nest.js dependencies to v11
  package.json
  pnpm-lock.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, sort-package-json

fix: Typescript errors
  src/auth/strategies/jwt.strategy.ts
  src/blog/dto/create-article.dto.spec.ts
  src/blog/dto/update-article.dto.spec.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

revert: "build: update Typescript"
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, sort-package-json

build: use SWC to compile the app
  .swcrc
  nest-cli.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, sort-package-json

fix: amend the PostgreSQL's volume path
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

fix: remove buffer-equal-constant-time by overriding JWA version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files

build: pnpx codemod run pnpm-v10-to-v11
  .npmrc
  pnpm-workspace.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: Typescript errors
  src/auth/strategies/jwt.strategy.ts
  src/blog/controllers/comment.controller.ts
  src/blog/dto/create-article.dto.spec.ts
  src/blog/dto/update-article.dto.spec.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

Path conditions:
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  eslint --fix: any of: *.{js,ts}
  sort-package-json: any of: package.json
