Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,toml}": ["prettier --write"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

fix: amend eslint errors and format the source code
  src/auth/decorators/auth.decorator.ts
  src/auth/factories/login-user.factory.ts
  src/auth/factories/update-user.factory.ts
  src/auth/interceptors/token.interceptor.spec.ts
  src/auth/pipes/strip-id.pipe.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/services/authentication.service.ts
  src/auth/validators/is-already-register.validator.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/blog/blog.module.spec.ts
  src/blog/entities/article.entity.ts
  src/blog/entities/comment.entity.ts
  src/blog/pipes/article.pipe.ts
  src/blog/services/article.service.ts
  src/blog/services/comment.service.ts
  src/blog/validators/article-exist.validator.spec.ts
  src/config/configuration.ts
  src/config/data-source.ts
  src/health.controller.spec.ts
  src/health.controller.ts
  test/blog/article.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: use pnpm exec in pre-commit hook
  .husky/pre-commit
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore: use pnpm exec in commit-msg hook
  .husky/commit-msg
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.16 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  4b83b2764b084db5d4a5c01967c2627d9d055f71
Due: cspell lint --no-summary --no-progress --no-must-find-files

test(blog): refactor reuse common error response
  src/common/test-matchers.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): amend error response matchers
  src/common/test-matchers.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.17 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  a97b680eaebea7ed07811665de59654556aa6c87
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.18 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  41ffed91f4dd894c61f9cbdd21933732b5d42220
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.19 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  a7c94e172fbaf61cc359d047c91a380b8f388818
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add category entity
  package.json
  pnpm-lock.yaml
  src/common/id.ts
  src/shop/entities/category.entity.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add migrations
  src/config/data-source.ts
  src/migrations/1699649023065-create-shop-schema.ts
  src/migrations/1699649201467-create-shop-category.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add pipe to cast the id to a category
  src/shop/pipes/category-cast.pipe.spec.ts
  src/shop/pipes/category-cast.pipe.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add shop module
  src/app.module.ts
  src/shop/shop.module.ts
  tsconfig.json
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(shop): add factory to create a category
  src/shop/factories/create-category.factory.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(shop): add factory and seeder for category
  src/config/data-source.ts
  src/shop/entities/category.entity.ts
  src/shop/factories/category.factory.ts
  src/shop/fixtures/categories.ts
  src/shop/seeders/category.seeder.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add DTOs for category
  src/shop/dtos/create-category.dto.ts
  src/shop/dtos/update-category.dto.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add category controller
  src/shop/controllers/category.controller.spec.ts
  src/shop/controllers/category.controller.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add category service
  src/shop/services/category.service.spec.ts
  src/shop/services/category.service.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add brand service
  src/shop/services/brand.service.spec.ts
  src/shop/services/brand.service.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add DTOs for brand
  .cspell.json
  src/shop/dtos/create-brand.dto.ts
  src/shop/dtos/update-brand.dto.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add brand entity
  src/common/id.ts
  src/shop/entities/brand.entity.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add migration
  src/config/data-source.ts
  src/migrations/1699847590022-create-shop-product.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(shop): add factory and seeder for brand
  src/config/data-source.ts
  src/shop/factories/brand.factory.ts
  src/shop/fixtures/brands.ts
  src/shop/seeders/brand.seeder.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add brand controller
  src/shop/controllers/brand.controller.spec.ts
  src/shop/controllers/brand.controller.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add product entity
  src/common/id.ts
  src/shop/entities/product.entity.ts
  src/shop/shop.module.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(shop): add e2e tests for CategoryController
  test/shop/category.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(shop): add factory to create a brand
  src/shop/factories/create-brand.factory.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(shop): add e2e tests for BrandController
  test/shop/brand.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add pipe to cast the id to a brand
  src/shop/pipes/brand-cast.pipe.spec.ts
  src/shop/pipes/brand-cast.pipe.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(shop): add migration
  src/config/data-source.ts
  src/migrations/1699827319121-create-shop-brand.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.20 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  625f1c3690cbacbd5e0f67127cc5c6e679b5ffee
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.21 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  43c70469e2788453aa5f6eb73077b423a15a0bad
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.22 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files
