Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor(auth): verify the credentials
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/services/authentication.service.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/auth/validators/validate-credential.validator.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.1 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  a64f1aaeaf447d654a9baff969a53010cda8b9c0
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps-dev): uninstall jest-dev-server
  jest.config.ts
  package.json
  pnpm-lock.yaml
  test/global-setup.ts
  test/global-teardown.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test(e2e): use PACTUM_REQUEST_BASE_URL to set the base URL
  .env.example
  test/auth.e2e-spec.ts
  test/blog/article.e2e-spec.ts
  test/blog/comment.e2e-spec.ts
  test/health.e2e-spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

ci: enable kodiak bot
  .kodiak.toml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(spell): add "httpie" word to the dictionary
  .cspell.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(gitpod): open in GitPod
  .gitpod.Dockerfile
  .gitpod.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(gitpod): watch for tests
  .gitpod.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(vscode): add tasks definitions
  .vscode/tasks.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(vscode): add debug definitions
  .vscode/launch.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

test(health): amend the mock of HealthService
  src/health.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): close the app after all tests
  src/auth/auth.module.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): close the app after all tests
  src/blog/blog.module.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of LoginUser DTO
  src/auth/dto/login-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of CommentController
  src/blog/controllers/comment.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of AuthenticationService
  src/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of ValidateCredential
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticlePipe
  src/blog/pipes/article.pipe.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of CommentService
  src/blog/services/comment.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of IsAlreadyRegister
  src/auth/validators/is-already-register.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticleExist
  src/blog/validators/article-exist.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of TokenInterceptor
  src/auth/interceptors/token.interceptor.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of UpdateUser DTO
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of RegisterUser DTO
  src/auth/dto/register-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticleService
  src/blog/services/article.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of AuthController
  src/auth/controllers/auth.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of IsAuthorGuard
  src/blog/guards/is-author.guard.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(health): replace mocks
  src/health.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: install jest-create-mock-instance
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticleController
  src/blog/controllers/article.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of CreateComment DTO
  src/blog/dto/create-comment.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: remove ts-auto-mock
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

ci(renovate): add «automerge» label
  renovate.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(kodiak): replace dependabot with renovate
  .kodiak.toml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  eslint --fix: any of: *.{js,ts}
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
