Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,toml}": ["prettier --write"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

Notes added by 'git notes add'
  7a5e51658f7929fadb872d655d563d80dceefc21
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.23 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  745fe4a81f8e7ecd4f1f082cc811c992fbf3b574
Due: cspell lint --no-summary --no-progress --no-must-find-files

build(docker): add Dockerfile
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

ci(github): publish the docker image to the container registry
  .github/workflows/publish.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

feat: add script to make a request to /health
  src/bin/health-checker.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(docker): add health check command to the image
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore: uninstall txtgen
  package.json
  pnpm-lock.yaml
  src/blog/factories/article.factory.ts
  src/blog/factories/comment.factory.ts
  src/blog/factories/create-article.factory.ts
  src/blog/factories/update-article.factory.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build: replace @tsconfig/node16-strictest with @tsconfig/node20
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore: fix deprecation warning from faker
  src/auth/factories/update-user.factory.ts
  src/auth/factories/user.factory.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: update test snapshots
  src/auth/dto/__snapshots__/login-user.dto.spec.ts.snap
  src/auth/dto/__snapshots__/register-user.dto.spec.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

build: set packageManager
  package.json
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build: remove install command of husky
  package.json
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: upgrade cachified to @epic-web/cachified
  package.json
  pnpm-lock.yaml
  src/auth/providers/pwned-password.provider.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build: amend eslint configuration
  .eslintrc.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

style: sort keys
  .cspell.json
  .devcontainer/devcontainer.json
  .jscpd.json
  .lintstagedrc.json
  .pactum/snapshots/login-errors.json
  .pactum/snapshots/register-errors.json
  .vscode/launch.json
  .vscode/tasks.json
  .yamllint.yaml
  nest-cli.json
  renovate.json
  src/auth/providers/__fixtures__/is-insecure.json
  src/auth/providers/__fixtures__/is-secure.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

build: move all module overrides in one file
  src/auth/decorators/auth.decorator.ts
  src/auth/strategies/jwt.strategy.ts
  src/config/configuration.ts
  src/config/data-source.ts
  src/overrides.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  db9654ee82231a5ce120dc65807f30fa45e6c67c
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: copy source files to the builder stage
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

build: add .dockerignore
  .cspell.json
  .dockerignore
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.1 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  c7c4689c1c42338466719e5cb1d39231a965d66c
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore: update e2e test snapshots
  .pactum/snapshots/login-errors.json
  .pactum/snapshots/register-errors.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

fix: split DataSource configuration
  src/config/data-source.cli.ts
  src/config/data-source.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: use a different data source for CLI scripts
  package.json
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore: use a different data source for testing
  src/common/build-test-application.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(docker): improve build time by caching pnpm store between stages
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.2 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  85f0e69ed46d9f52b6e6196e9d13c39635f4627f
Due: cspell lint --no-summary --no-progress --no-must-find-files

build(docker): split prune from build stage
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files
