Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml}": ["prettier --write"]
}

style: format and fix linter error
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  test/app.e2e-spec.ts
Due: prettier --write, eslint --fix

build: update tsconfig.json
  tsconfig.json
Due: prettier --write

chore: install plugins for eslint
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: update jest config
  jest.config.ts
  package.json
  test/jest-e2e.json
Due: prettier --write, eslint --fix

build: use alias paths
  .eslintrc.js
  jest.config.ts
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  test/app.e2e-spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

ci(github): add continous integration workflow
  .github/workflows/ci.yml
Due: prettier --write

ci(github): lint source code
  .github/workflows/ci.yml
Due: prettier --write

ci(github): check shell scripts
  .github/workflows/ci.yml
Due: prettier --write

fix: wrap variable in dowuble quotes
  .husky/commit-msg
Due: none

ci(github): run tests and monitor coverage
  .github/workflows/ci.yml
Due: prettier --write

chore: upgrade dependencies
  .eslintrc.js
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: sort imports with eslint
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

build: change path alias
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  test/app.e2e-spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: setup TypeORM with PosgreSQL
  .env.example
  docker-compose.yml
  ormconfig.js
  package-lock.json
  package.json
  src/app.module.ts
Due: prettier --write, eslint --fix

chore: install package to help writing tests
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: install dependencies with PNPM
  .github/workflows/ci.yml
Due: prettier --write

ci: run only unit tests
  .github/workflows/ci.yml
Due: prettier --write

ci: shellcheck exclude .gitignore files
  .github/workflows/ci.yml
Due: prettier --write

feat(auth): add auth module
  src/app.module.ts
  src/auth/auth.module.ts
Due: prettier --write, eslint --fix

feat(auth): add user entity
  src/auth/auth.module.ts
  src/auth/entities/user.entity.ts
  src/migrations/1637703183543-create-user.ts
Due: prettier --write, eslint --fix

test(auth): check validation of register DTO
  package.json
  pnpm-lock.yaml
  src/auth/dto/__snapshots__/register-user.dto.spec.ts.snap
  src/auth/dto/register-user.dto.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat(auth): add register DTO with validation
  package.json
  pnpm-lock.yaml
  src/auth/dto/register-user.dto.ts
Due: prettier --write, eslint --fix

feat: use validation pipe globally
  src/main.ts
Due: prettier --write, eslint --fix

feat(auth): register a new user
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.ts
  src/auth/controllers/auth.controller.ts
  src/auth/entities/user.entity.ts
  src/auth/services/authentication.service.ts
Due: prettier --write, eslint --fix

test(auth): add unit tests for registering a new user
  src/auth/controllers/auth.controller.spec.ts
  src/auth/entities/user.entity.ts
  src/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint --fix

fix(auth): exclude password from response
  src/auth/controllers/auth.controller.ts
  src/auth/entities/user.entity.ts
Due: prettier --write, eslint --fix

feat(auth): add interceptor to add JWT in the response
  .env.example
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.ts
  src/auth/controllers/auth.controller.ts
  src/auth/interceptors/token.interceptor.ts
  src/main.ts
Due: prettier --write, eslint --fix

test(auth): add unit test of token interceptor
  package.json
  pnpm-lock.yaml
  src/auth/controllers/auth.controller.spec.ts
  src/auth/interceptors/token.interceptor.spec.ts
Due: prettier --write, eslint --fix

feat(auth): prevent to register a duplicate user
  src/auth/auth.module.ts
  src/auth/dto/register-user.dto.ts
  src/auth/validators/is-already-register.validator.ts
  src/main.ts
Due: prettier --write, eslint --fix

build: load dotenv with jest
  jest.config.ts
Due: prettier --write, eslint --fix

test(auth): check when it's already registered
  src/auth/dto/register-user.dto.spec.ts
  src/auth/validators/is-already-register.validator.spec.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(auth): add login DTO with validation
  src/auth/dto/login-user.dto.ts
Due: prettier --write, eslint --fix

feat(auth): validate user credentials
  src/auth/auth.module.ts
  src/auth/dto/login-user.dto.ts
  src/auth/entities/user.entity.ts
  src/auth/validators/validate-credential.validator.ts
Due: prettier --write, eslint --fix

ci(github): fix workflow
  .github/workflows/ci.yml
  package.json
Due: prettier --write

test(e2e): write E2E with pactum
  jest.config.ts
  package.json
  pnpm-lock.yaml
  test/app.e2e-spec.ts
  test/auth.e2e-spec.ts
  test/global-setup.ts
  test/global-teardown.ts
Due: prettier --write, eslint --fix

test(auth): add integration tests
  package.json
  pnpm-lock.yaml
  src/auth/auth.module.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/fixtures/user.fixture.ts
  src/common/fluse-plugin-faker.ts
  src/common/test-helpers.ts
Due: prettier --write, eslint --fix

test(auth): check validation of login DTO
  src/auth/dto/__snapshots__/login-user.dto.spec.ts.snap
  src/auth/dto/login-user.dto.spec.ts
Due: prettier --write, eslint --fix

test(auth): use fixtures with fast-check
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/register-user.dto.spec.ts
Due: prettier --write, eslint --fix

ci(github): run E2E tests
  .github/workflows/ci.yml
Due: prettier --write
