Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

ci(semantic-release): remove releaseRules
  .releaserc.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

test(health): replace mocks
  src/health.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of LoginUser DTO
  src/auth/dto/login-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticleController
  src/blog/controllers/article.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticleService
  src/blog/services/article.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of CommentService
  src/blog/services/comment.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of UpdateUser DTO
  src/auth/dto/update-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of IsAlreadyRegister
  src/auth/validators/is-already-register.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticlePipe
  src/blog/pipes/article.pipe.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of CreateComment DTO
  src/blog/dto/create-comment.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: install jest-create-mock-instance
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of IsAuthorGuard
  src/blog/guards/is-author.guard.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of ValidateCredential
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of CommentController
  src/blog/controllers/comment.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): replace mocks of ArticleExist
  src/blog/validators/article-exist.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of TokenInterceptor
  src/auth/interceptors/token.interceptor.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of AuthController
  src/auth/controllers/auth.controller.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of AuthenticationService
  src/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): replace mocks of RegisterUser DTO
  src/auth/dto/register-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build: remove ts-auto-mock
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

ci(renovate): enable automerge
  renovate.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(kodiak): replace dependabot with renovate
  .kodiak.toml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(renovate): add «automerge» label
  renovate.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(mega-linter): disable GitLeaks linter
  .mega-linter.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(mega-linter): treat Trivy errors as warnings
  .cspell.json
  .mega-linter.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(mega-linter): exclude LICENSE from editorconfig checker
  .mega-linter.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

build: skip strict peer dependencies
  .npmrc
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): generate lock file
  pnpm-lock.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: mock PosgreSQL function in tests
  src/common/database.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.7.2 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  df3a23fbfe9fe0ede015534111ff236580802366
Due: cspell lint --no-summary --no-progress --no-must-find-files

ci(renovate): rebase when is behind the base branch
  renovate.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(renovate): add "automerge" label to renovate's PR
  renovate.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

feat: install swagger module
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(auth): change private property of User
  src/auth/entities/user.entity.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(nest): define json schema url
  nest-cli.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  eslint --fix: any of: *.{js,ts}
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
