Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix, sort-package-json

build(docker): split prune from build stage
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

build(docker): improve build time by caching pnpm store between stages
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.3 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  ecbc62c8036fad7669fede375ac8cb2f939f3646
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.4 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  d3b5cadb5a71c6f842e9d474e51db3314778f0d1
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.5 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  073089b85df261c85fee4695f20f5d5a4d18d60e
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.6 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  2ee94b6e462ba337be3df85e60067a5e8fd7e227
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.7 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  df5c93c5ac78348ff77b2698bcb9b00528baca1c
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.8 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  ed192c48b1ad2b8bf0cca2be533327db4d87bef0
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.9 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  4f7612c2d931769828a29147de6190ffcc8ed76a
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.10 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  6dffd1e45d5577af49b8f020d4e627f2186f6677
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.8.11 [skip-ci]
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

Notes added by 'git notes add'
  68dd51ec8129da509c780627e19dd7791b76c633
Due: cspell lint --no-summary --no-progress --no-must-find-files

ci: remove the PNPM version from workflows
  .github/workflows/ci.yml
  .github/workflows/mega-linter.yml
  .github/workflows/release.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

ci: remove the PNPM version from workflow
  .github/workflows/ci.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

build: remove deprecated lines
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: cspell lint --no-summary --no-progress --no-must-find-files

build: approve post build of @nestjs/core and unrs-resolver
  pnpm-workspace.yaml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore: add unrs-resolver word
  .cspell.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

build: enable isolatedModules in tsconfig
  tsconfig.json
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write

fix: remove deprecation warning messages related to faker.js
  src/auth/factories/login-user.factory.ts
  src/auth/factories/update-user.factory.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

fix: update test fixtures of nock
  src/auth/providers/__fixtures__/is-insecure.json
  src/auth/providers/__fixtures__/is-secure.json
  src/auth/providers/pwned-password.provider.spec.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

fix: limit username length to 30 characters in the user factories
  src/auth/factories/login-user.factory.ts
  src/auth/factories/update-user.factory.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

fix: migrate from fast-check v3 to fast-check v4
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/blog/dto/create-article.dto.spec.ts
  src/blog/dto/create-comment.spec.ts
  src/blog/dto/update-article.dto.spec.ts
Due: cspell lint --no-summary --no-progress --no-must-find-files, prettier --write, eslint --fix

Path conditions:
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  eslint --fix: any of: *.{js,ts}
  sort-package-json: any of: package.json
